{
    "name": "ResNets",
    "bn": {
        "momentum": 0.1,
        "eps": 1e-05,
        "ws_eps": null
    },
    "input_stem": [
        {
            "name": "ConvLayer",
            "kernel_size": 3,
            "stride": 2,
            "dilation": 1,
            "groups": 1,
            "bias": false,
            "has_shuffle": false,
            "use_se": false,
            "in_channels": 3,
            "out_channels": 24,
            "use_bn": true,
            "act_func": "relu",
            "dropout_rate": 0,
            "ops_order": "weight_bn_act"
        },
        {
            "name": "ConvLayer",
            "kernel_size": 3,
            "stride": 1,
            "dilation": 1,
            "groups": 1,
            "bias": false,
            "has_shuffle": false,
            "use_se": false,
            "in_channels": 24,
            "out_channels": 32,
            "use_bn": true,
            "act_func": "relu",
            "dropout_rate": 0,
            "ops_order": "weight_bn_act"
        },
        {
            "name": "ConvLayer",
            "kernel_size": 3,
            "stride": 1,
            "dilation": 1,
            "groups": 1,
            "bias": false,
            "has_shuffle": false,
            "use_se": false,
            "in_channels": 32,
            "out_channels": 64,
            "use_bn": true,
            "act_func": "relu",
            "dropout_rate": 0,
            "ops_order": "weight_bn_act"
        }
    ],
    "blocks": [
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 64,
            "out_channels": 208,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.2,
            "mid_channels": 40,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 208,
            "out_channels": 208,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.25,
            "mid_channels": 56,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 208,
            "out_channels": 208,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.2,
            "mid_channels": 40,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 208,
            "out_channels": 512,
            "kernel_size": 3,
            "stride": 2,
            "expand_ratio": 0.25,
            "mid_channels": 128,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 512,
            "out_channels": 512,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.2,
            "mid_channels": 104,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 512,
            "out_channels": 816,
            "kernel_size": 3,
            "stride": 2,
            "expand_ratio": 0.25,
            "mid_channels": 208,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 816,
            "out_channels": 816,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.2,
            "mid_channels": 160,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 816,
            "out_channels": 816,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.25,
            "mid_channels": 208,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 816,
            "out_channels": 816,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.2,
            "mid_channels": 160,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 816,
            "out_channels": 2048,
            "kernel_size": 3,
            "stride": 2,
            "expand_ratio": 0.25,
            "mid_channels": 512,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 2048,
            "out_channels": 2048,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.2,
            "mid_channels": 408,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        },
        {
            "name": "ResNetBottleneckBlock",
            "in_channels": 2048,
            "out_channels": 2048,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 0.25,
            "mid_channels": 512,
            "act_func": "relu",
            "groups": 1,
            "downsample_mode": "avgpool_conv"
        }
    ],
    "classifier": {
        "name": "LinearLayer",
        "in_features": 2048,
        "out_features": 1000,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0.1,
        "ops_order": "weight_bn_act"
    }
}